NODE_ENV=development
PORT=8686

CLIENT_URL=

MONGO_DB_URL=
JWT_SECRET=
JWT_EXPIRE=15m
REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRE=7d

# S3
BUCKET_NAME=
BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=

# Redis
REDIS_URL=redis://localhost:6379
CART_CACHE_PREFIX=cart:
CACHE_TTL=604800

# Email Config
EMAIL_USER=your-email@gmail.com
EMAIL_PASS=your-app-password
OTP_TTL=300#5 minutes