NODE_ENV=development
PORT=8686

CLIENT_URL=

MONGO_DB_URL=
JWT_SECRET=
JWT_EXPIRE=15m
REFRESH_JWT_SECRET=
REFRESH_JWT_EXPIRE=7d

# S3
BUCKET_NAME=
BUCKET_REGION=
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=